{% extends "home.html.twig" %}
{% block body %}
    <h1>BigBurgerListe</h1>
    {% for burger in burgers %}
        <a href="{{ path('burgerleBurger', {'nom': burger.nom}) }}">{{burger.nom}}</a>
    {% endfor %}
    <a href={{ path('home') }}>accueil</a>
{% endblock %}